.game_play(
  x-data="gameplay_info"
  x-show="$store.videogamb.stage=='game_play'"
  :class="`game_play--${players.length}p'`"
  @startmatch.window="startMatch($event); $nextTick(()=>{prepareVideoPlayers()});" 
  )
    template(x-for="player in players")
      .player_container(:class="`player_container--${players.length}p_${player.id+1}`")
        video.player_container__video(:id="`vg_player_${player.id}`" @loadedmetadata="player.videoDuration = $el.duration;" )
        .player_container__hud
          .meter_vertical.meter--top
            .meter_vertical__fg.meter--action(@vgframe.window="$el.style.height = `${player.currentActionLevel}%`")
              p(@vgframe.window="$el.innerText = `${Math.floor(player.currentActionLevel)}%`;")

          .meter.meter--bottom
            .meter__fg.meter--time(
              @vgframe.window="$el.style.width = `${Math.floor(player.videoTimeProgressed / player.videoDuration *100)}%`" 
              )
              p(
                @vgframe.window="$el.innerText = `${Math.floor(player.videoTimeProgressed / player.videoDuration *100)}%`;" 
              )
          .player_container__tagline(x-text="`P${(player.id+1)}`")


script.
  document.addEventListener('alpine:init', () => {
    Alpine.data('gameplay_info', () => ({
      active: false,
      players: [],
      match: null,

      init(){
        this.players = Alpine.store('match').players;
        this.match = new VGMatch();
        this.active = false;
      },

      startMatch(){
        console.log("start the match");
        Alpine.store('videogamb').stage = "game_play";
        document.querySelector("body").style.maxWidth = "100%";
        //- this.players = [];
        //- for(let i = 0; i < Alpine.store('match').player_count; i++){
        //-   //- this.players.push(new VGPlayer(i));
        //-   //- this.players[i].addAction(new VGKeyUp(i, (i+1)+"", 5));
        //- }
        this.active = true;
        this.match.begin();
      },

      prepareVideoPlayers(){
        Alpine.store('match').players.forEach(player => player.setupVideo(Alpine.store('video_info').url));
      }
    }));
  });
